html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

.warm {
    background-image: linear-gradient(#F6CC66, #FCA184);
    flex: 1;
    padding-top: 20px;
}

.cold {
    background-image: linear-gradient(#BDE3FA, #A5C9FD);
    flex: 1;
    padding-top: 20px;
}

.night {
    background-image: linear-gradient(#172941, #3C6683);
    flex: 1;
    padding-top: 20px;
}

.location-img {
    margin: -20px 0px -40px 0px;
}

.weather-img {
    display: block;
    margin: auto;
    margin-top: 30px;
}

.weather-detail {
    padding-left: 5px;
    padding-right: 5px;
}

.temp-unit {
    font-size: 1rem;
    font-weight: bold;
}

.temp-unit-option {
    font-size: .9rem;
}

@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
}
