<h3 class="subheading">Next 24 Hours</h3>
<div class="flex overflow-x-scroll pb-2 px-4 scrollbar-subtle mb-10">
    @for (var i = 0; i < 24; i++)
    {
        <div class="flex flex-col w-14 flex-shrink-0 items-center">
            <div class="text-xs">10 AM</div>
            <img class="w-5 m-2" src="_content/BlazorWeather2021/weather-icons/cloud-sun.svg" />
            <div>18˚</div>
        </div>
    }

    <!-- Spacing at end -->
    <div class="border-transparent" style="border-right-width: 1.25rem"></div>
</div>
