.grid {
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-auto-rows: 1fr;
}

.stat-box {
    background-color: var(--mid-background);
    aspect-ratio: 1;
    max-width: 11rem;
    padding: 1rem;
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.stat-source {
    color: #91A7B7;
}

a {
    color: #637989;
}

a:hover {
    color: white;
}
