label:hover {
    background-color: var(--mid-background);
}

.description {
    color: #91A7B7;
    margin-bottom: 0.1rem;
}

label {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #91A7B7;
    padding: 0.75rem 1rem 0.5rem 0rem;
    cursor: pointer;
}

label > svg {
    margin-left: auto;
    display: none;
}

input[type=radio]:checked + div + svg {
    display: block;
}
